<h1>SUA NGUOI DUNG</h1>
<form action="/api/updateUser" method="POST">
    <div class="container">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">FULL NAME</span>
            <input name="fullname" type="text" class="form-control" placeholder="FULL NAME" aria-label="Username" aria-describedby="basic-addon1" value="<%= data.user.fullname %>" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">ADDRESS</span>
            <input name="address" type="text" class="form-control" placeholder="ADDRESS" aria-label="Username" aria-describedby="basic-addon1" value="<%= data.user.address %>" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">SEX</span>
            <select name="sex" class="form-control" id="sex" name="sex" aria-label="Username" aria-describedby="basic-addon1" required>
            <option value="">Select</option>
            <option value="1" <%= data.user.sex === 1 ? 'selected' : '' %> >Male</option>
            <option value="0" <%= data.user.sex === 0 ? 'selected' : '' %> >Female</option>
        </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">EMAIL</span>
            <input name="email" type="text" class="form-control" placeholder="EMAIL" aria-label="Username" aria-describedby="basic-addon1" value="<%= data.user.email %>" required>
        </div>
        <input type="hidden" name="usernameEdit" value="<%= data.user.username %>" />
        <button type="submit" class="btn btn-success">CAP NHAT</button>
    </div>
    
</form>
