<h1>XEM CHI TIET</h1>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Username: <%= data.user.username %></li>
  <li class="list-group-item">Full Name: <%= data.user.fullname %></li>
  <li class="list-group-item">Address: <%= data.user.address %></li>
  <li class="list-group-item">Sex: <%= data.user.sex == 1 ? "Nam":"Nu" %></li>
  <li class="list-group-item">Email: <%= data.user.email %></li>
</ul>